
div {
  padding: 20px;
}

.parent {
  background-color: dodgerblue;
  width: auto;
  height: auto;
}

.one {
  background-color: green;
}

.two {
  background-color: yellow;
}

.three {
  background-color: red;
}
